/*
 * Custom CSS
 */
.post pre {
    border: 1px solid #ddd;
    padding: 0 .4em;
 }

 blockquote {
    border-left: 5px solid #ddd;
    padding: .4em;
 }

 blockquote p {
    margin-bottom: 0;
    padding-left: .4em;
 }