[submodule "presentations/2017-02-23_python-for-android/reveal.js"]
    path = presentations/2017-02-23_python-for-android/reveal.js
    url = https://github.com/hakimel/reveal.js/
[submodule "presentations/2019-06-16_jenkins_101/reveal.js"]
	path = presentations/2019-06-16_jenkins_101/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "presentations/2020-06-13_automation_101_ansible/reveal.js"]
	path = presentations/2020-06-13_automation_101_ansible/reveal.js
	url = https://github.com/hakimel/reveal.js
