<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kevin Howell : {{ page.title }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{{ site.name }}</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for item in site.nav_pages %}
                        <li class="nav-item {% if page.active == item[0] %} active{% endif %}">
                            <a class="nav-link" href="{{ item[1] }}">{{ item[0] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="container my-5">
            <div class="row">
                <div>
                    {{ content }}
                </div>
            </div>
            <footer >
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>
                        &copy; Kevin Howell. Opinions are my own and not the views of my employer.
                    </p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="link-dark" href="https://github.com/kahowell">
                                <img src="/icons/github.svg" alt="GitHub icon" width="24" height="24">
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="link-dark" rel="me" href="https://mastodon.social/@kahowell">
                                <img src="/icons/mastodon.svg" alt="Mastodon icon" width="24" height="24">
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
            
        </div>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
